.banner ul li img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.banner .lSAction .lSPrev {
    transform: translateX(50px) !important;
    transition: all 0.3s;
    opacity: 0;
    color: white;
    background-color: #070a57;
    border-radius: 5px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20px;
}

.banner .lSAction .lSNext {
    transform: translateX(-50px) !important;
    transition: all 0.3s;
    opacity: 0;
    color: white;
    background-color: #070a57;
    border-radius: 5px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
}

.banner:hover .lSAction .lSPrev,
.banner:hover .lSAction .lSNext {
    transform: translateX(0) !important;
    opacity: 1;
}

.banner .lSSlideOuter .lSPager.lSpg>li:hover a,
.banner .lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #ed3020 !important;
}

.banner .lSSlideOuter .lSPager.lSpg>li a {
    height: 15px;
    width: 15px;
}

.lslide .banner-1 {
    transform: translateY(50px);
    transition: all 1s;
}

.lslide.active .banner-1 {
    transform: translateY(0);
}
#product {
    width: 253px;
}
#product #hover_img {
    width: 253px;
    height: 380px;
    transition: all .7s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}
#product #normal_img{
    width: 253px;
    height: 380px;
    transition: all .2s;
    transform: translateY(0px);
}
#product:hover #normal_img{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}
#product:hover #hover_img {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
#product #btn-cart-view{
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 0.3s;
}
#product:hover #btn-cart-view{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#product #product_heart{
    transform: translateX(100%);
    transition: all 0.5s;
}
#product #product_compare {
    transform: translateX(100%);
    transition: all 0.8s;
}
#product:hover #product_heart,
#product:hover #product_compare {
    transform: translateX(0);
}
.product-new .lSAction .lSPrev,
.product-featured .lSAction .lSPrev,
.product-new .lSAction .lSNext,
.product-featured .lSAction .lSNext {
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    color: #070a57;
    background-color: #fff;
    border: 2px solid #070a57;
    border-radius: 50%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-new .lSAction .lSPrev{
    transform: translateX(50px) !important;
    left: 20px;
}
.product-featured .lSAction .lSPrev {
    transform: translateX(20px) !important;
    left: 10px;
}
.product-new .lSAction .lSNext {
    transform: translateX(-50px) !important;
    right: 20px;
}
.product-featured .lSAction .lSNext {
    transform: translateX(-20px) !important;
    right: 10px;
}
.product-new:hover .lSAction .lSPrev,
.product-featured:hover .lSAction .lSPrev,
.product-new:hover .lSAction .lSNext,
.product-featured:hover .lSAction .lSNext {
    transform: translateX(0) !important;
    opacity: 1;
    visibility: visible;
}

.tabs-border{
    display: block;
    width: 100%;
    height: 7px;
    border-radius: 5px;
}
/* best rated calc(100% - 128px) */
/* on sale calc(100% - 256px) */
.tabs-border .tabs-border-fill{
    width: calc(100% - 256px);
    height: 100%;
    transition: all 0.3s;
}
.best-rated.active,
.top-sellers.active,
.on-sale.active {
    color: #3f83f8;
}
.hover-zoom .img-zoom{
    transition: all 0.4s;
    transform: scale(1);
}
.hover-zoom:hover .img-zoom{
    transform: scale(1.2);
}


.owl-carousel.banner .owl-nav .owl-prev,
.owl-carousel.banner .owl-nav .owl-next {
    font-size: 40px !important;
    background-color: #070a57 !important;
    color: #fff !important;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 10px;
    position: absolute;
}
.owl-carousel.banner .owl-nav .owl-prev{
    top: 45%;
    left: 30px;
    transform: translateX(50px);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.owl-carousel.banner .owl-nav .owl-next{
    top: 45%;
    right: 20px;
    transform: translateX(-50px);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.owl-carousel.banner:hover .owl-nav .owl-prev,
.owl-carousel.banner:hover .owl-nav .owl-next{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.owl-carousel.banner .owl-stage .owl-item .desc h1,
.owl-carousel.banner .owl-stage .owl-item .desc span,
.owl-carousel.banner .owl-stage .owl-item .desc button{
    transform: translateY(50px);
    transition: all 2s;
    opacity: 0;
}
.owl-carousel.banner .owl-stage .owl-item.active.center .desc h1,
.owl-carousel.banner .owl-stage .owl-item.active.center .desc span,
.owl-carousel.banner .owl-stage .owl-item.active.center .desc button {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
}
.owl-carousel.banner .owl-stage .owl-item.active.center .desc h1{
    transition-delay: 1.5s;
}
.owl-carousel.banner .owl-stage .owl-item.active.center .desc button{
    transition-delay: 2s;
}
.owl-carousel.banner .owl-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
}
.owl-carousel.banner .owl-dots .owl-dot:not(:last-child) {
    margin-right: 10px;
}
.owl-carousel.banner .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
}
.owl-carousel.banner .owl-dots .owl-dot.active{
    background-color: #070a57;
}